@font-face {
  font-family: nosifer;
  src: url(font/Nosifer-Regular.ttf);
}


body {
  background: -webkit-radial-gradient(rgb(248, 189, 236), rgb(161, 0, 161));
  background: radial-gradient(rgb(248, 189, 236), rgb(161, 0, 161));
}
header{
  grid-column: 1/5;
  grid-row: 1;
}
h1 {
  font-family: nosifer;
  text-align: center;
  font-size: 50px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  min-height: 100vh;
}

#score {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
#setup {
  grid-column: 4;
  grid-row: 3;
  max-width: 250px;
  border: 1px solid #888888;
  padding: 20px;
}
#setup button{
  width: 100px;
  background-color: rgb(28, 168, 10);
  border: 1px solid #888888;
  border-radius: 20px;
  color: white;
}
#setup button:hover{
  transform: scale(1.2);
}


#donut {
  width: 300px;
  height: 300px;
  grid-column: 2;
  grid-row: 3;
}

footer {
  grid-column: 1/5;
  grid-row: 4;
  text-align: center;

}