@font-face {
  font-family: nosifer;
  src: url(font/Nosifer-Regular.ttf);
}


body {
  background: -webkit-radial-gradient(rgb(248, 189, 236), rgb(161, 0, 161));
  background: radial-gradient(rgb(248, 189, 236), rgb(161, 0, 161));
}
header{
  grid-column: 1/4;
  grid-row: 1;
}
h1 {
  font-family: nosifer;
  text-align: center;
  font-size: 50px;
  grid-column: 2/3;
  grid-row: 1;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
}

#score {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
  grid-column: 2;
  grid-row: 1;

}


#donut {
  width: 300px;
  height: 300px;
  grid-column: 2;
  grid-row: 2;
}
